@import "tailwindcss";

/* In your global CSS file */
.custom-scrollbar-light::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar-light::-webkit-scrollbar-track {
  background: #f0fdf4; /* green-50 */
  border-radius: 10px;
}

.custom-scrollbar-light::-webkit-scrollbar-thumb {
  background: #86efac; /* green-300 */
  border-radius: 10px;
}

.custom-scrollbar-light::-webkit-scrollbar-thumb:hover {
  background: #4ade80; /* green-400 */
}

.custom-scrollbar-dark::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar-dark::-webkit-scrollbar-track {
  background: #1f2937; /* gray-800 */
  border-radius: 10px;
}

.custom-scrollbar-dark::-webkit-scrollbar-thumb {
  background: #4b5563; /* gray-600 */
  border-radius: 10px;
}

.custom-scrollbar-dark::-webkit-scrollbar-thumb:hover {
  background: #6b7280; /* gray-500 */
}

/* Firefox */
.custom-scrollbar-light {
  scrollbar-width: thin;
  scrollbar-color: #86efac #f0fdf4;
}

.custom-scrollbar-dark {
  scrollbar-width: thin;
  scrollbar-color: #4b5563 #1f2937;
}
